<div class="service-single-one">
    <div class="inner-box">
        <div class="image">
        <%= image_tag "services" %>
        </div>
        <div class="lower-content">
            <h2>À propos de NOVITAS</h2>
            <div class="text">
                <div class="bold-text">Specialitè</div>
                <p>Créé en 2016 suite à l’alliance et la collaboration d’experts anciens collaborateurs de cabinets de référence de la place qui ont capitalisé 
                une grande expertise dans les métiers de conseil, le cabinet Novitas Consulting est un cabinet spécialisé dans les métiers de conseil, 
                de formation et d'audit selon un Business model innovant. </p>
                <p>Quotidiennement, nous délivrons des solutions et expertises opportunes à nos clients et porteuses de hautes valeurs ajoutées selon des 
                approches participatives, solides et évolutives. Ces solutions s’alignent sur les standards universels en la matière et privilégient des 
                offres globales et multi dimensionnelles qui intègrent l’engagement de notre établissement pour la qualité et le développement durable.</p>
                <p>Dans chaque projet, avec une écoute active, nous commençons par poser les bonnes questions avant d’approfondir nos analyses et traiter 
                les causes racines des dysfonctionnements et problématiques détectés. Ensuite, nous proposons les solutions optimales qui vont stimuler 
                durablement la création de la valeur et générer l’excellence des organisations.</p>

            </div>
        </div>
    </div>
</div>