<!--End About Section Two-->
    <section class="about-section-two">
        <div class="">
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <!--About Column-->
                    <div class="about-company">
                        <div class="inner-box">
                           
                            <div class="lower-content">
                                <h2>À propos de nous</h2>
                                <div class="separator"></div>
                                <div class="bold-text"></div>
                                <div class="text">
                                    <p>Créé en 2016 suite à l’alliance et la collaboration d’experts anciens collaborateurs de cabinets de référence de la place qui ont capitalisé une grande expertise dans les métiers de conseil, le cabinet Novitas Consulting est un cabinet spécialisé dans les métiers de conseil, de formation et d'audit selon un Business model innovant.</p>
                                    <p>Quotidiennement, nous délivrons des solutions et expertises opportunes à nos clients et porteuses de hautes valeurs ajoutées selon des approches participatives, solides et évolutives. Ces solutions s’alignent sur les standards universels en la matière et privilégient des offres globales et multi dimensionnelles qui intègrent l’engagement de notre établissement pour la qualité et le développement durable.</p>
                                    <p>Dans chaque projet, avec une écoute active, nous commençons par poser les bonnes questions avant d’approfondir nos analyses et traiter les causes racines des dysfonctionnements et problématiques détectés. Ensuite, nous proposons les solutions optimales qui vont stimuler durablement la création de la valeur et générer l’excellence des organisations.</p>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <!--What We Do-->
                    <div class="what-we-do">
                        <div class="inner-box">
                            
                            <div class="lower-content">
                                <!--Servives Block-->
                                <div class="service-block-three">
                                    <div class="inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-edit"></span>
                                        </div>
                                        <h3><a href="services-single-1.html">Notre mission</a></h3>
                                        <div class="sub-title"> </div>
                                        <div class="text">En tant que cabinet spécialisé dans les métiers de conseil, de formation et d’audit, notre mission est d’aider et accompagner les entreprises vers l’excellence...</div>
                                    </div>
                                </div>
                                
                                <!--Servives Block-->
                                <div class="service-block-three">
                                    <div class="inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-idea"></span>
                                        </div>
                                        <h3><a href="services-single-1.html">Notre Vision</a></h3>
                                        <div class="sub-title"></div>
                                        <div class="text"><p>Engagés par nos valeurs, nous travaillons ardemment pour fournir des offres innovantes et de qualité capables d’apporter des réponses optimales qui puissent activer les neurones vers l’atteinte de l’excellence au niveau des éco-systèmes dans lesquels nous intervenons...</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Servives Block-->
                                <div class="service-block-three">
                                    <div class="inner">
                                        <div class="icon-box">
                                            <span class="icon flaticon-briefcase-1"></span>
                                        </div>
                                        <h3><a href="services-single-1.html">Nos  Valeurs</a></h3>
                                        <div class="sub-title"></div>
                                        <div class="text">Dès nos premiers jours, nos processus, pratiques et comportements se ressourcent de principes directeurs et engagements volontaristes ancrés dans notre ADN que nous vivons quotidiennement et démontrons dans toutes les dynamiques de nos relations internes ...</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
