<div class="service-single-one">
    <div class="inner-box">
        <div class="image">
        </div>
        <div class="lower-content">
            <!--Team Section-->
            <section class="">
                <div class="">
                    <!--Sec Title-->
                    <div class="sec-title light clearfix">
                        <div class="pull-left">
                            <h2>Notre Équipes</h2>
                            <div class="title-box">
                        
                        <div class="text-center"> Passionnés par les métiers de conseil, de formation et d'audit, nos experts et consultants sont essentiellement des lauréats de grandes écoles de management et d'ingénierie qui ont capitalisé des expertises et savoir-faire remarquables et dévoués à délivrer des prestations de hautes valeurs afin de satisfaire vos attentes conformément aux paramètres de qualité et de durées programmées de chaque mission.
                        <br> Notre équipe se compose de : <br>
                        <br>
                        <ul >
                            <li class="text-center">♣   Managing Patrner ♣   Consultants Juniors ♣   Consultants Seniors ♣   Chargé Support</li>
                        </ul>
                        <br>
                        <div class="text-center"> Nous disposons également d’un large réseau de professionnels spécialisés de sous-traitants et de formateurs-experts.</div>

                        </div>
                    </div>
                    </div>
                        <div class="pull-right">
                            <!--<a href="blog.php" class="theme-btn btn-style-four">More News</a>-->
                        </div>
                    </div>
                    <div class="row clearfix">
                        <!--Team Block-->
                        <div class="team-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <%= image_tag("images.jpg") %>
                                </div>
                                <div class="lower-content">
                                    <h3>Brown Angelino</h3>
                                    <div class="designation">President</div>
                                    <ul>
                                        <li>Ph: 900-789-0123</li>
                                        <li>Email: Angelino@Triumph.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Team Block-->
                        <div class="team-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <%= image_tag("ima.jpg") %>
                                </div>
                                <div class="lower-content">
                                    <h3>Brown Angelino</h3>
                                    <div class="designation">President</div>
                                    <ul>
                                        <li>Ph: 900-789-0123</li>
                                        <li>Email: Angelino@Triumph.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Team Block-->
                        <div class="team-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <%= image_tag("imag.jpg") %>
                                </div>
                                <div class="lower-content">
                                    <h3>Brown Angelino</h3>
                                    <div class="designation">President</div>
                                    <ul>
                                        <li>Ph: 900-789-0123</li>
                                        <li>Email: Angelino@Triumph.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Team Block-->
                        <div class="team-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image">
                                    <%= image_tag("image.jpg") %>
                                </div>
                                <div class="lower-content">
                                    <h3>Brown Angelino</h3>
                                    <div class="designation">President</div>
                                    <ul>
                                        <li>Ph: 900-789-0123</li>
                                        <li>Email: Angelino@Triumph.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </section>
            <!--End Team Section-->
        </div>
    </div>
</div>