<div class="service-single-one">
    <div class="inner-box">
        <div class="image">
        <%= image_tag "blog03.jpg" %>
        </div>
        <div class="lower-content">
            <h2>Nos  Valeurs</h2>
            <div class="text">
                <div class="sub-title">Except to obtain</div>
                <div class="text"><p>Dès nos premiers jours, nos processus, pratiques et comportements se ressourcent de principes directeurs et engagements 
                volontaristes ancrés dans notre ADN que nous vivons quotidiennement et démontrons dans toutes les dynamiques de nos relations internes et avec 
                nos partenaires. Dans ce sens, notre cartographie de valeurs ne cesse de s'améliorer afin d'enrichir continuellement l'expérience client....</p>
                    <ul>
                        <li>♣   Qualité et Durabilité : Développer, appliquer et améliorer des processus, pratiques et relations qui respectent les standards 
                        internationaux en matière de qualité et de développement durable.</li>
                        <li>♣   Respect et Intégrité : Promouvoir l'adoption de qualités éthiques, notamment le respect et l'intégrité, envers soi-même et 
                        envers les autres.</li>
                        <li>♣   Excellence : Nous surpasser quotidiennement pour donner le meilleur de nous-mêmes et de ce qui s'exerce chez nos concurrents.</li>
                        <li>♣   Confidentialité : Gérer la confidentialité du patrimoine informationnel de notre cabinet et protéger assurément les informations 
                        hautement distinctives de nos partenaires.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>