 <section class="page-title" style="background-image:url(images/background/3.jpg);">
        <div class="auto-container">
            <h1>About Us</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container clearfix">
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="<%= root_path %>">Acceuil</a></li>
                        <li>Novitas</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> Share</a></div>
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->
    
    <!--End About Section Two-->
    <section class="about-section-two">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Column-->
                <div class="column col-md-6 col-sm-12 col-xs-12">
                	<!--About Column-->
                    <div class="about-company">
                    	<div class="inner-box">
                        	<div class="image">
                            	<a href="#"><img src="images/resource/about-2.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                            	<h2>About Our Company</h2>
                                <div class="separator"></div>
                                <div class="bold-text">Drawing thousands of the world's technology leaders together to learn and do business.</div>
                                <div class="text">
                                	<p>Must explain to you how all this mistaken idea of denouncing pleasure and seds praising pain was born and I will give you a complete account of the system, and expound the actual teaching of the great explorer of the truth, the masterbuilder of human happiness rejects, dislikes, or avoids pleasure.</p>
                                    <p>Which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from annoying consequences.</p>
                                </div>
                                <a href="team.html" class="meet-team">Meeet Our Team <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column col-md-6 col-sm-12 col-xs-12">
                	<!--What We Do-->
                    <div class="what-we-do">
                    	<div class="inner-box">
                        	<div class="image">
                            	<a href="#"><img src="images/resource/about-3.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                            	<!--Servives Block-->
                                <div class="service-block-three">
                                	<div class="inner">
                                    	<div class="icon-box">
                                        	<span class="icon flaticon-edit"></span>
                                        </div>
                                        <h3><a href="services-single-1.html">Our Mission</a></h3>
                                        <div class="sub-title">Desires to obtain </div>
                                        <div class="text">Denouncing pleasure and praising pain was born and I will give you a complete account of the system actual teachings.</div>
                                    </div>
                                </div>
                                
                                <!--Servives Block-->
                                <div class="service-block-three">
                                	<div class="inner">
                                    	<div class="icon-box">
                                        	<span class="icon flaticon-idea"></span>
                                        </div>
                                        <h3><a href="services-single-1.html">Our Vision</a></h3>
                                        <div class="sub-title">Resultant pleasure</div>
                                        <div class="text">The great explorer of the truth, the master-builder human happiness one rejects, dislikes, or avoids pleasure itself.</div>
                                    </div>
                                </div>
                                
                                <!--Servives Block-->
                                <div class="service-block-three">
                                	<div class="inner">
                                    	<div class="icon-box">
                                        	<span class="icon flaticon-briefcase-1"></span>
                                        </div>
                                        <h3><a href="services-single-1.html">Our Value</a></h3>
                                        <div class="sub-title">Except to obtain</div>
                                        <div class="text">To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it.</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section Two-->
    
    <!--Services Section-->
    <section class="services-section-two" style="background-image:url(images/background/pattern-1.png);">
    	<div class="auto-container">
        	
            <!--Counter Section-->
            <section class="counter-section style-two">
                
                <div class="fact-counter">
                    <div class="row clearfix">
                    
                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="content">
                                    <div class="icon-box"><span class="icon flaticon-business-3"></span></div>
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="2500" data-stop="1472">0</span>
                                    </div>
                                    <h4 class="counter-title">Projects Completed</h4>
                                </div>
                            </div>
                        </div>
                
                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="content">
                                    <div class="icon-box"><span class="icon flaticon-man"></span></div>
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="2000" data-stop="285">0</span>+
                                    </div>
                                    <h4 class="counter-title">Experienced Workers</h4>
                                </div>
                            </div>
                        </div>
                
                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="content">
                                    <div class="icon-box"><span class="icon flaticon-medal"></span></div>
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="3000" data-stop="625">0</span>+
                                    </div>
                                    <h4 class="counter-title">National Awards Won</h4>
                                </div>
                            </div>
                        </div>
                        
                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="content">
                                    <div class="icon-box"><span class="icon flaticon-coffee-cup-1"></span></div>
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="4000" data-stop="3962">0</span>
                                    </div>
                                    <h4 class="counter-title">Cups of Coffee</h4>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
                    
            </section>
            <!--End Counter Section-->
            
            <div class="row clearfix">
            	<!--Services Block-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-piggy-bank"></span>
                        </div>
                        <h3><a href="services-single-1.html">Financial Service</a></h3>
                        <div class="text">Our financial experts help analyze financial data, to create steady financial foundation.</div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-industry"></span>
                        </div>
                        <h3><a href="services-single-1.html">Manufacturing</a></h3>
                        <div class="text">Our financial experts help analyze financial data, to create steady financial foundation.</div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon flaticon-flasks"></span>
                        </div>
                        <h3><a href="services-single-1.html">Medical & Health Care</a></h3>
                        <div class="text">Our financial experts help analyze financial data, to create steady financial foundation.</div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <!--End Services Section-->
    
    <!--History Section-->
    <section class="history-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>History In Words</h2>
                <div class="separator"></div>
            </div>
            
            <!--History Tabs-->
            <div class="history-tabs tabs-box">
                <!--History Btns-->
                <ul class="history-btns tab-buttons history-tabs-carousel owl-carousel owl-theme clearfix">
                    <li class="active-btn tab-btn" data-tab="#year-one">1995</li>
                    <li class="tab-btn" data-tab="#year-two">1996</li>
                    <li class="tab-btn" data-tab="#year-three">1997</li>
                    <li class="tab-btn" data-tab="#year-four">1998</li>
                    <li class="tab-btn" data-tab="#year-five">1999</li>
                    <li class="tab-btn" data-tab="#year-six">2000</li>
                    <li class="tab-btn" data-tab="#year-seven">2001</li>
                    <li class="tab-btn" data-tab="#year-eight">2002</li>
                    <li class="tab-btn" data-tab="#year-nine">2003</li>
                    <li class="tab-btn" data-tab="#year-ten">2004</li>
                    <li class="tab-btn active-btn" data-tab="#year-eleven">2005</li>
                </ul>
                
                <!--Tabs Content-->
                <div class="tabs-content">
                	<!--Tab-->
                    <div class="tab active-tab" id="year-one">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                    <!--Tab-->
                    <div class="tab" id="year-two">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                    <!--Tab-->
                    <div class="tab" id="year-three">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                    <!--Tab-->
                    <div class="tab" id="year-four">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                    <!--Tab-->
                    <div class="tab" id="year-five">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                    <!--Tab-->
                    <div class="tab" id="year-six">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                    <!--Tab-->
                    <div class="tab" id="year-seven">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                    <!--Tab-->
                    <div class="tab" id="year-eight">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                    <!--Tab-->
                    <div class="tab" id="year-nine">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                    <!--Tab-->
                    <div class="tab" id="year-ten">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                    <!--Tab-->
                    <div class="tab" id="year-eleven">
                        <div class="row clearfix">
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-1.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">April 27, 1995</div>
                                            <div class="big-text">27</div>
                                            <h3><a href="blog-single.html">Started Our Dream Company</a></h3>
                                            <div class="text">Make your gazebo as luxurious or as simple as you'd create your own seating with lawn or patio installed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-2.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 14, 1995</div>
                                            <div class="big-text">14</div>
                                            <h3><a href="blog-single.html">Hired! 30 fresh new people</a></h3>
                                            <div class="text">How all this mistakens idea of ut denouncing pleasures & praising pain was born and will give you a completed.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--History Block-->
                            <div class="history-block col-md-4 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="blog-single.html"><img src="images/resource/history-3.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="content">
                                            <div class="post-date">August 25, 1995</div>
                                            <div class="big-text">25</div>
                                            <h3><a href="blog-single.html">Won - Best Company Award</a></h3>
                                            <div class="text">Denouncing pleasures and praisings pain was born work will give you a complete account system, and actual master-builder.</div>
                                            <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div><!--End Tab-->
                    
                </div>
            </div>
            <!--End History Tabs-->
        </div>
    </section>
    <!--End History Section-->
    
    <!--Team Section-->
    <section class="team-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title light clearfix">
            	<div class="pull-left">
                	<h2>Meet Our Team </h2>
                    <div class="separator"></div>
                </div>
                <div class="pull-right">
                	<a href="blog.html" class="theme-btn btn-style-four">More News</a>
                </div>
            </div>
			<div class="row clearfix">
				<!--Team Block-->
                <div class="team-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="images/resource/team-1.jpg" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>                                    
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Brown Angelino</a></h3>
                            <div class="designation">President</div>
                            <ul>
                            	<li>Ph: 900-789-0123</li>
                                <li><a href="#">Email: Angelino@Triumph.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Team Block-->
                <div class="team-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="images/resource/team-2.jpg" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>                                    
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Astley Fletcher</a></h3>
                            <div class="designation">Founder</div>
                            <ul>
                            	<li>Ph: 900-123-4567</li>
                                <li><a href="#">Email: Fletcher@Triumph.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Team Block-->
                <div class="team-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="images/resource/team-3.jpg" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>                                    
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Jones Antony</a></h3>
                            <div class="designation">Team Leader</div>
                            <ul>
                            	<li>Ph: 900-456-7890</li>
                                <li><a href="#">Email: Antony@Triumph.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Team Block-->
                <div class="team-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="images/resource/team-4.jpg" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                	<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>                                    
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Bernatt Rotty</a></h3>
                            <div class="designation">Manager</div>
                            <ul>
                            	<li>Ph: 900-789-0123</li>
                                <li><a href="#">Email: Bernatt@Triumph.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Team Section-->
    
    <!--Business Section-->
    <section class="business-section">
    	<div class="auto-container">
        	<div class="title-box">
            	<h2>Trusted us by over <span class="theme_color">10,000</span> local businesses</h2>
                <div class="text"> How all this mistaken idea of denouncing pleasure and praising pain was born and I will <br> you a complete account of the system expound.</div>
            </div>
            <div class="row clearfix">
            	<!--Business Block-->
                <div class="business-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="logo-box">
                        	<div class="image"><img src="images/resource/business-1.png" alt="" /></div>
                        </div>
                        <div class="text">There anyone who loves or pursues or desires sed to obtain pain of itself, because it is pain, but because occasionally sed great.</div>
                    </div>
                </div>
                
                <!--Business Block-->
                <div class="business-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="logo-box">
                        	<div class="image"><img src="images/resource/business-2.png" alt="" /></div>
                        </div>
                        <div class="text">Except to obtain some advantage from it but who has any right to find fault with a man who to enjoy a pleasure that annoying.</div>
                    </div>
                </div>
                
                <!--Business Block-->
                <div class="business-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="logo-box">
                        	<div class="image"><img src="images/resource/business-3.png" alt="" /></div>
                        </div>
                        <div class="text">Who loves or pursues or desires to obtain pain itself, because is pain, but because occasionally ut circumstances occur which toil.</div>
                    </div>
                </div>
                
            </div>
            
            <div class="text-center">
            	<a href="#" class="theme-btn btn-style-one">Join With Us</a>
            </div>
            
        </div>
    </section>
    <!--End Business Section-->
    
   
	
    
