<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
   
    <!--Main Slider-->
    <section class="main-slider">
    	
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>
                	
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/image-1.jpg"> 
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['650','650','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-90','-100','-100','-85']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    	<h2>Triumph helps you <br> to save time and <br> money.</h2>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','550','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['50','35','25','10']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    	<div class="text">Triumph business theme continues to grow every day <br> thanks to the confidence.</div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','550','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['145','130','130','110']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    	<a href="about.html" class="theme-btn btn-style-one">Read More</a> &ensp; <a href="contact.html" class="theme-btn btn-style-two">Contact us</a>
                    </div>
                    
                    </li>
                    
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/image-2.jpg"> 
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-90','-100','-100','-85']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    	<h2>Don’t dreamed about <br> success just work <br> for it.</h2>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['50','35','25','10']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    	<div class="text">Triumph business theme continues to grow every day <br> thanks to the confidence.</div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['145','130','130','110']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    	<a href="about.html" class="theme-btn btn-style-one">Read More</a> &ensp; <a href="contact.html" class="theme-btn btn-style-two">Contact us</a>
                    </div>
                    
                    </li>
                    
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-3.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/image-3.jpg"> 
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['700','700','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['-100','-100','-100','-85']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    	<h2>Work with world class <br> experts your next <br> project</h2>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','700','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['40','35','25','10']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    	<div class="text">Triumph business theme continues to grow every day <br> thanks to the confidence.</div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','700','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['135','130','130','110']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                    	<a href="services.html" class="theme-btn btn-style-one">Meet Team</a> &ensp; <a href="#" class="theme-btn btn-style-two">Testimonials</a>
                    </div>
                    
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->
    
    <!--Services Section-->
    <section class="services-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>Welcome to Triumph</h2>
                <div class="separator"></div>
                <div class="text">We are experts in this industry with over 100 years experience. What that means is you are going to get <br> right solution, please find our services.</div>
            </div>
            <div class="row clearfix">
            	<!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<div class="icon-tag"><span class="icon flaticon-line-graph"></span></div>
                        	<img src="images/resource/services-1.jpg" alt="" />
                            <div class="overlay-box">
                            	<div class="overlay-inner">
                                	<div class="content">
                                    	<div class="text">Priority interst for many organizations, when comes sustainbility & corporate responsiblty, normal rules of busines apply. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                        	<h3>Business Growth</h3>
                            <div class="hover-title">
                            	<h4><a href="services-single-1.html">Business Growth</a></h4>
                            	<a class="arrow-box" href="services-single-1.html"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<div class="icon-tag"><span class="icon flaticon-settings"></span></div>
                        	<img src="images/resource/services-2.jpg" alt="" />
                            <div class="overlay-box">
                            	<div class="overlay-inner">
                                	<div class="content">
                                    	<div class="text">Priority interst for many organizations, when comes sustainbility & corporate responsiblty, normal rules of busines apply. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                        	<h3>Sustainability</h3>
                            <div class="hover-title">
                            	<h4><a href="services-single-1.html">Sustainability</a></h4>
                            	<a class="arrow-box" href="services-single-1.html"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<div class="icon-tag"><span class="icon flaticon-trophy-1"></span></div>
                        	<img src="images/resource/services-3.jpg" alt="" />
                            <div class="overlay-box">
                            	<div class="overlay-inner">
                                	<div class="content">
                                    	<div class="text">Priority interst for many organizations, when comes sustainbility & corporate responsiblty, normal rules of busines apply. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                        	<h3>Performance</h3>
                            <div class="hover-title">
                            	<h4><a href="services-single-1.html">Performance</a></h4>
                            	<a class="arrow-box" href="services-single-1.html"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Services Section-->
    
    <!--Counter Section-->
    <section class="counter-section">
    	<div class="auto-container">
        		
            <div class="fact-counter">
                <div class="row clearfix">
                
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="content">
                                <div class="icon-box"><span class="icon flaticon-business-3"></span></div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2500" data-stop="1472">0</span>
                                </div>
                                <h4 class="counter-title">Projects Completed</h4>
                            </div>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="content">
                                <div class="icon-box"><span class="icon flaticon-man"></span></div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="285">0</span>+
                                </div>
                                <h4 class="counter-title">Experienced Workers</h4>
                            </div>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="content">
                                <div class="icon-box"><span class="icon flaticon-medal"></span></div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3000" data-stop="625">0</span>+
                                </div>
                                <h4 class="counter-title">National Awards Won</h4>
                            </div>
                        </div>
                    </div>
                    
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="content">
                                <div class="icon-box"><span class="icon flaticon-coffee-cup-1"></span></div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="4000" data-stop="3962">0</span>
                                </div>
                                <h4 class="counter-title">Cups of Coffee</h4>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
            
        </div>
    </section>
    <!--End Counter Section-->
    
    <!--Choose Section-->
    <section class="choose-section" style="background-image:url(images/background/1.png);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<div class="title-column col-md-3 col-sm-12 col-xs-12">
                	<!--Sec Title-->
                    <div class="sec-title light">
                    	<h2>Why Choose Us</h2>
                        <div class="separator"></div>
                    </div>
                    <div class="text">
                    	<p>There is some reason behind why people choose Triumph past 20 years for their business solutions.</p>
                        <p>Please find our unique qualification and our highlights.</p>
                    </div>
                </div>
                <div class="services-column col-md-9 col-sm-12 col-xs-12">
                	
                    <div class="three-item-carousel owl-carousel owl-theme">
                    
                    	<!--Services Block Two-->
                        <div class="service-block-two">
                        	<div class="inner-box">
                            	<div class="icon-box">
                                	<span class="icon flaticon-note"></span>
                                </div>
                                <div class="content">
                                	<h3><a href="services-single-2.html">Professional</a></h3>
                                    <div class="text">How all this mistaken idea of all <br> nouncing ut pleasures.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Services Block Two-->
                        <div class="service-block-two">
                        	<div class="inner-box">
                            	<div class="icon-box">
                                	<span class="icon flaticon-support"></span>
                                </div>
                                <div class="content">
                                	<h3><a href="services-single-2.html">Experience</a></h3>
                                    <div class="text">How all this mistaken idea of all <br> nouncing ut pleasures.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Services Block Two-->
                        <div class="service-block-two">
                        	<div class="inner-box">
                            	<div class="icon-box">
                                	<span class="icon flaticon-support"></span>
                                </div>
                                <div class="content">
                                	<h3><a href="services-single-2.html">Vibrant</a></h3>
                                    <div class="text">How all this mistaken idea of all <br> nouncing ut pleasures.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Services Block Two-->
                        <div class="service-block-two">
                        	<div class="inner-box">
                            	<div class="icon-box">
                                	<span class="icon flaticon-note"></span>
                                </div>
                                <div class="content">
                                	<h3><a href="services-single-2.html">Professional</a></h3>
                                    <div class="text">How all this mistaken idea of all <br> nouncing ut pleasures.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Services Block Two-->
                        <div class="service-block-two">
                        	<div class="inner-box">
                            	<div class="icon-box">
                                	<span class="icon flaticon-support"></span>
                                </div>
                                <div class="content">
                                	<h3><a href="services-single-2.html">Experience</a></h3>
                                    <div class="text">How all this mistaken idea of all <br> nouncing ut pleasures.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Services Block Two-->
                        <div class="service-block-two">
                        	<div class="inner-box">
                            	<div class="icon-box">
                                	<span class="icon flaticon-support"></span>
                                </div>
                                <div class="content">
                                	<h3><a href="services-single-2.html">Vibrant</a></h3>
                                    <div class="text">How all this mistaken idea of all <br> nouncing ut pleasures.</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Choose Section-->
    
    <!--About Section-->
    <section class="about-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>About Our Comapny</h2>
                <div class="separator"></div>
            </div>
            <div class="row clearfix">
            	<!--Block Column-->
                <div class="block-column col-md-8 col-sm-12 col-xs-12">
                	<div class="about-block">
                    	<div class="inner-box">
                        	<div class="row clearfix">
                            	<!--Image Column-->
                            	<div class="image-column col-md-6 col-sm-6 col-xs-12">
                                	<div class="image">
                                    	<img src="images/resource/about-1.jpg" alt="" />
                                    </div>
                                </div>
                                <!--Content Column-->
                            	<div class="content-column col-md-6 col-sm-6 col-xs-12">
                                	<div class="content">
                                    	<h3>For nearly forty years, we have taken a personal approach highly.</h3>
                                        <div class="text">We are Triumph located in newyork city,USA. It is a long established fact that a reader will be distracted by the readable content pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the  master-builder of human happiness.</div>
                                        <a href="about.html" class="theme-btn btn-style-three">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Graph Column-->
                <div class="graph-column col-md-4 col-sm-12 col-xs-12">
                	<div class="image">
                    	<img src="images/resource/graph-1.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section-->
    
    <!--Call To Action-->
    <section class="call-to-action">
    	<div class="auto-container">
        	<div class="text">Triumph has extensive experience across all industries. We help our clients <br> set new standards of excellence.</div>
        </div>
    </section>
    <!--End Call To Action-->
    
    <!--Project Section-->
    <section class="project-section">
    	<div class="auto-container">
        	<div class="sec-title clearfix">
            	<div class="pull-left">
                	<h2>Latest Projects</h2>
                    <div class="separator"></div>
                </div>
                <div class="pull-right">
                	<a href="projects.html" class="theme-btn btn-style-three">View More</a>
                </div>
            </div>
            <div class="row clearfix">
            	<!--Project Block-->
            	<div class="project-block col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="images/gallery/1.jpg" alt="" />
                            <div class="overlay-box">
                            	<div class="overlay-inner">
                                	<div class="content">
                                    	<h3><a href="project-single.html">Latest Technology</a></h3>
                                        <div class="designation">Consulting</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Project Block-->
            	<div class="project-block col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="images/gallery/2.jpg" alt="" />
                            <div class="overlay-box">
                            	<div class="overlay-inner">
                                	<div class="content">
                                    	<h3><a href="project-single.html">Latest Technology</a></h3>
                                        <div class="designation">Consulting</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Project Block-->
            	<div class="project-block col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="images/gallery/3.jpg" alt="" />
                            <div class="overlay-box">
                            	<div class="overlay-inner">
                                	<div class="content">
                                    	<h3><a href="project-single.html">Latest Technology</a></h3>
                                        <div class="designation">Consulting</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Project Block-->
            	<div class="project-block col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="images/gallery/4.jpg" alt="" />
                            <div class="overlay-box">
                            	<div class="overlay-inner">
                                	<div class="content">
                                    	<h3><a href="project-single.html">Latest Technology</a></h3>
                                        <div class="designation">Consulting</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Project Block-->
            	<div class="project-block col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="images/gallery/5.jpg" alt="" />
                            <div class="overlay-box">
                            	<div class="overlay-inner">
                                	<div class="content">
                                    	<h3><a href="project-single.html">Latest Technology</a></h3>
                                        <div class="designation">Consulting</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Project Block-->
            	<div class="project-block col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="images/gallery/6.jpg" alt="" />
                            <div class="overlay-box">
                            	<div class="overlay-inner">
                                	<div class="content">
                                    	<h3><a href="project-single.html">Latest Technology</a></h3>
                                        <div class="designation">Consulting</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Project Section-->
    
    <!--Testimonial Section-->
    <div class="testimonial-section grey-bg">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>Customer Feedback</h2>
                <div class="separator"></div>
            </div>
            <div class="two-item-carousel owl-carousel owl-theme">
            
            	<!--Testmonial Block-->
            	<div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="upper-box clearfix">
                        	<div class="pull-left">
                            	<div class="author-info">
                                	<div class="author-inner">
                                    	<div class="image">
                                        	<img src="images/resource/author-1.jpg" alt="" />
                                        </div>
                                        <h3>Jenifer Hearly</h3>
                                        <div class="location">Newyork</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right text-right">
                            	<div class="days">2 Days ago</div>
                                <div class="quote-icon"></div>
                            </div>
                        </div>
                        <div class="lower-box">
                        	<div class="text">The great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, because those who do not know how to pursue.</div>
                        </div>
                    </div>
                </div>
                
                <!--Testmonial Block-->
            	<div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="upper-box clearfix">
                        	<div class="pull-left">
                            	<div class="author-info">
                                	<div class="author-inner">
                                    	<div class="image">
                                        	<img src="images/resource/author-2.jpg" alt="" />
                                        </div>
                                        <h3>Emilia Crane</h3>
                                        <div class="location">California</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right text-right">
                            	<div class="days">3 Days ago</div>
                                <div class="quote-icon"></div>
                            </div>
                        </div>
                        <div class="lower-box">
                        	<div class="text">There anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which procure him some great pleasure.</div>
                        </div>
                    </div>
                </div>
                
                <!--Testmonial Block-->
            	<div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="upper-box clearfix">
                        	<div class="pull-left">
                            	<div class="author-info">
                                	<div class="author-inner">
                                    	<div class="image">
                                        	<img src="images/resource/author-1.jpg" alt="" />
                                        </div>
                                        <h3>Jenifer Hearly</h3>
                                        <div class="location">Newyork</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right text-right">
                            	<div class="days">2 Days ago</div>
                                <div class="quote-icon"></div>
                            </div>
                        </div>
                        <div class="lower-box">
                        	<div class="text">The great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, because those who do not know how to pursue.</div>
                        </div>
                    </div>
                </div>
                
                <!--Testmonial Block-->
            	<div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="upper-box clearfix">
                        	<div class="pull-left">
                            	<div class="author-info">
                                	<div class="author-inner">
                                    	<div class="image">
                                        	<img src="images/resource/author-2.jpg" alt="" />
                                        </div>
                                        <h3>Emilia Crane</h3>
                                        <div class="location">California</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right text-right">
                            	<div class="days">3 Days ago</div>
                                <div class="quote-icon"></div>
                            </div>
                        </div>
                        <div class="lower-box">
                        	<div class="text">There anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which procure him some great pleasure.</div>
                        </div>
                    </div>
                </div>
                
                <!--Testmonial Block-->
            	<div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="upper-box clearfix">
                        	<div class="pull-left">
                            	<div class="author-info">
                                	<div class="author-inner">
                                    	<div class="image">
                                        	<img src="images/resource/author-1.jpg" alt="" />
                                        </div>
                                        <h3>Jenifer Hearly</h3>
                                        <div class="location">Newyork</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right text-right">
                            	<div class="days">2 Days ago</div>
                                <div class="quote-icon"></div>
                            </div>
                        </div>
                        <div class="lower-box">
                        	<div class="text">The great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, because those who do not know how to pursue.</div>
                        </div>
                    </div>
                </div>
                
                <!--Testmonial Block-->
            	<div class="testimonial-block">
                	<div class="inner-box">
                    	<div class="upper-box clearfix">
                        	<div class="pull-left">
                            	<div class="author-info">
                                	<div class="author-inner">
                                    	<div class="image">
                                        	<img src="images/resource/author-2.jpg" alt="" />
                                        </div>
                                        <h3>Emilia Crane</h3>
                                        <div class="location">California</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right text-right">
                            	<div class="days">3 Days ago</div>
                                <div class="quote-icon"></div>
                            </div>
                        </div>
                        <div class="lower-box">
                        	<div class="text">There anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which procure him some great pleasure.</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End Testimonial Section-->
    
    <!--News Section-->
    <section class="news-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title light clearfix">
            	<div class="pull-left">
                	<h2>Latest News</h2>
                    <div class="separator"></div>
                </div>
                <div class="pull-right">
                	<a href="blog.html" class="theme-btn btn-style-four">More News</a>
                </div>
            </div>
			<div class="row clearfix">
            	<!--News Block-->
                <div class="news-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                        <div class="content">
                            <div class="post-date">21st August, 2017</div>
                            <h3>Wealth building tips for modern day.</h3>
                            <ul class="meta-option">
                                <li><span class="icon fa fa-user"></span>By Antony</li>
                                <li><span class="icon fa fa-comments"></span>17 Comments</li>
                            </ul>
                        </div>
                        <div class="overlay-box" style="background-image:url(images/resource/news-1.jpg);">
                        	<div class="overlay-inner">
                            	<h4><a href="blog-single.html">Wealth building tips for modern day. </a></h4>
                                <div class="text">There toil and pain can ut procure him some greater pleasure.</div>
                                <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                        <div class="content">
                            <div class="post-date">26st August, 2017</div>
                            <h3>Improve employees skills what you expect.</h3>
                            <ul class="meta-option">
                                <li><span class="icon fa fa-user"></span>By Antony</li>
                                <li><span class="icon fa fa-comments"></span>17 Comments</li>
                            </ul>
                        </div>
                        <div class="overlay-box" style="background-image:url(images/resource/news-1.jpg);">
                        	<div class="overlay-inner">
                            	<h4><a href="blog-single.html">Improve employees skills what you expect.</a></h4>
                                <div class="text">There toil and pain can ut procure him some greater pleasure.</div>
                                <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <!--News Block-->
                <div class="news-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                        <div class="content">
                            <div class="post-date">14th February, 2017</div>
                            <h3>3 Ways technology will change business.</h3>
                            <ul class="meta-option">
                                <li><span class="icon fa fa-user"></span>By Antony</li>
                                <li><span class="icon fa fa-comments"></span>17 Comments</li>
                            </ul>
                        </div>
                        <div class="overlay-box" style="background-image:url(images/resource/news-1.jpg);">
                        	<div class="overlay-inner">
                            	<h4><a href="blog-single.html">3 Ways technology will change business.</a></h4>
                                <div class="text">There toil and pain can ut procure him some greater pleasure.</div>
                                <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                        <div class="content">
                            <div class="post-date">05th January, 2017</div>
                            <h3>Top budget hacks for your accounting.</h3>
                            <ul class="meta-option">
                                <li><span class="icon fa fa-user"></span>By Antony</li>
                                <li><span class="icon fa fa-comments"></span>17 Comments</li>
                            </ul>
                        </div>
                        <div class="overlay-box" style="background-image:url(images/resource/news-1.jpg);">
                        	<div class="overlay-inner">
                            	<h4><a href="blog-single.html">Top budget hacks for your accounting.</a></h4>
                                <div class="text">There toil and pain can ut procure him some greater pleasure.</div>
                                <a href="blog-single.html" class="read-more">Read More <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End News Section-->
    
    <!--Business Section-->
    <section class="business-section">
    	<div class="auto-container">
        	<div class="title-box">
            	<h2>Trusted us by over <span class="theme_color">10,000</span> local businesses</h2>
                <div class="text"> How all this mistaken idea of denouncing pleasure and praising pain was born and I will <br> you a complete account of the system expound.</div>
            </div>
            <div class="row clearfix">
            	<!--Business Block-->
                <div class="business-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="logo-box">
                        	<div class="image"><img src="images/resource/business-1.png" alt="" /></div>
                        </div>
                        <div class="text">There anyone who loves or pursues or desires sed to obtain pain of itself, because it is pain, but because occasionally sed great.</div>
                    </div>
                </div>
                
                <!--Business Block-->
                <div class="business-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="logo-box">
                        	<div class="image"><img src="images/resource/business-2.png" alt="" /></div>
                        </div>
                        <div class="text">Except to obtain some advantage from it but who has any right to find fault with a man who to enjoy a pleasure that annoying.</div>
                    </div>
                </div>
                
                <!--Business Block-->
                <div class="business-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="logo-box">
                        	<div class="image"><img src="images/resource/business-3.png" alt="" /></div>
                        </div>
                        <div class="text">Who loves or pursues or desires to obtain pain itself, because is pain, but because occasionally ut circumstances occur which toil.</div>
                    </div>
                </div>
                
            </div>
            
            <div class="text-center">
            	<a href="#" class="theme-btn btn-style-one">Join With Us</a>
            </div>
            
        </div>
    </section>
    <!--End Business Section-->
    
    
    

</div>
