 <!--Content Side-->
<div class="content-side">
    <!--Services Single Two-->
    <div class="service-single-two">
        <div class="inner-box">
            <h2>Audit & Financial Advisory</h2>
            <div class="two-column">
                <div class="row clearfix">
                    <div class="content col-md-6 col-sm-6 col-xs-12">
                        <div class="bold-text">Audit</div>
                        <div class="text">
                             <p><i class="fa fa-chevron-circle-right" ></i>&nbsp; Audit comptable et financier</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Audit interne et audit opérationnel</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Audit des programmes et projets</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Audit des procédures</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Audit de l’environnement de contrôle</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Due Diligence d’acquisition, Audit préalable environnemental et Vendor Due Diligence</p>
                        </div>
                    </div>
                    <div class="content col-md-6 col-sm-6 col-xs-12">
                        <div class="image">
                            <%= image_tag "finance.jpg" %>
                        </div>
                    </div>
                </div>
            </div>
            <!--Analysic Section-->
            <div class="analysic-section">
                <h3>Financial Advisory</h3>
                <div class="text">
                    <i class="fa fa-chevron-circle-right" >&nbsp;Assistance dans les opérations de la Corporate Finance</i><br>
                    <i class="fa fa-chevron-circle-right" >&nbsp;Elaboration des Business plans</i><br>
                    <i class="fa fa-chevron-circle-right" >&nbsp;Assistance dans le passage aux normes IFRS & US GAAP</i><br>
                    <i class="fa fa-chevron-circle-right" >&nbsp;Montage financier des projets</i><br>
                    <i class="fa fa-chevron-circle-right" >&nbsp;Assistance dans les opérations des Finances participative, éthique et verte</i><br>
                    <i class="fa fa-chevron-circle-right" >&nbsp;Assistance à la maîtise des risques financiers</i>
                </div>
                
            </div>
        </div>
    </div>
</div>
