 <!--Content Side-->
<div class="content-side">
    <!--Services Single Two-->
    <div class="service-single-two">
        <div class="inner-box">
            <h2>Consulting</h2>
            <div class="two-column">
                <div class="row clearfix">
                    <div class="content col-md-6 col-sm-6 col-xs-12">
                        <div class="bold-text">Stratégie</div>
                        <div class="text">
                             <p><i class="fa fa-chevron-circle-right" ></i>&nbsp; Réalisation des études socio-économiques et institutionnelles</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Elaboration des stratégies sectorielles </p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Assistance à la transformation des Business Models</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Accompagnement dans l'élaboration et le déploiement des Corporate et Business stratégies</p>
                        </div>
                    </div>
                    <div class="content col-md-6 col-sm-6 col-xs-12">
                        <div class="image">
                            <%= image_tag "Consulting.jpg" %>
                        </div>
                    </div>
                </div>
            </div>
            <!--Analysic Section-->
            <div class="analysic-section">
                <h3>Transformations</h3>
                <div class="text">
                    <i class="fa fa-chevron-circle-right" >&nbsp;Accompagnement à la mise en œuvre d’une démarche d’excellence opérationnelle</i>
                    <i class="fa fa-chevron-circle-right" >&nbsp;Accompagnement à la mise en œuvre de processus de management des projets et PMO</i>
                    <i class="fa fa-chevron-circle-right" >&nbsp;Accompagnement à la mise en œuvre de processus de management des risques des processus et projets et de Plans de Continuité d’Activités</i>
                    <i class="fa fa-chevron-circle-right" >&nbsp;Optimisation et reengineering des organisations et processus</i>
                    <i class="fa fa-chevron-circle-right" >&nbsp;Transformation des architectures et urbanisation des SI -Intégration d’ERP</i><br>
                    <i class="fa fa-chevron-circle-right" >&nbsp;Accompagnement à l’obtention des certifications ISO</i>
                </div>
                
            <!--Analysic Result-->
            <div class="analysic-result">
                <h3>Développement territorial et social</h3>
                <div class="text">
                    <br>
                    <p><i class="fa fa-chevron-circle-right" >&nbsp;Accompagnement dans les processus d’élaboration, de déploiement et de contrôle des stratégies de développement territorial</i></p>
                    <p><i class="fa fa-chevron-circle-right" >&nbsp;Développement des capacités des acteurs associatifs, coopératifs et territoriaux</i></p>
                    <p><i class="fa fa-chevron-circle-right" >&nbsp;Assistance dans la formulation, la réalisation et l’évaluation des programmes et projets de développement territorial et associatif</i></p>
                </div>
            </div>
        </div>
    </div>
</div>
