<div class="service-single-one">
    <div class="inner-box">
        <div class="image">
        <%= image_tag "blog03.jpg" %>
        </div>
        <div class="lower-content">
            <h2>Consulting</h2>
            <div class="text">
                <div class="bold-text">Specialitè</div>
                <p>En tant que cabinet spécialisé dans les métiers de conseil, de formation et d’audit, notre mission est d’aider et accompagner les 
                entreprises vers l’excellence.  Cette mission est partagée par tous nos collaborateurs qui proposent des solutions et conseillent 
                dans le respect des valeurs de notre firme. </p>
                <h2>Notre Vision</h2>
                <div class="sub-title">Resultant pleasure</div>
                <p>Engagés par nos valeurs, nous travaillons ardemment pour fournir des offres innovantes et de qualité capables d’apporter des réponses 
                optimales qui puissent activer les neurones vers l’atteinte de l’excellence au niveau des éco-systèmes dans lesquels nous intervenons. 
                Nous œuvrons également dans le développement et l’amélioration des métiers de conseil, de formation et d’audit.</p>
                <p>Nous ambitionnons d’être un cabinet de référence dans des créneaux prometteurs. Nous voulons impacter positivement l’ensemble 
                de nos parties prenantes et participer dans le développement de notre pays et pour un monde meilleur.  Notre vision est aussi de proposer 
                un conseil accessible, responsable et faiseur de durabilité.</p>
                <p>Nous travaillons pour développer une approche collaborative et de partenariat attirante, fructueuse et pérenne.  Nous nous investissons 
                pareillement pour motiver et fidéliser nos collaborateurs et bâtir un environnement de travail encourageant et inspirant.</p>
            </div>
        </div>
    </div>
</div>