
    
    <!--Services Page Section-->
    <section class="services-page-section">
        <div class="auto-container">
            
            <div class="row clearfix">
            
                <!--Services Block-->
                <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <div class="icon-tag"><span class="icon flaticon-line-graph"></span></div>
                            <img src="images/resource/services-1.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="text">Priority interst for many organizations, when comes sustainbility & corporate responsiblty, normal rules of busines apply. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3>Business Growth</h3>
                            <div class="hover-title">
                                <h4><a href="services-single-1.html">Business Growth</a></h4>
                                <a class="arrow-box" href="services-single-1.html"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <div class="icon-tag"><span class="icon flaticon-settings"></span></div>
                            <img src="images/resource/services-2.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="text">Priority interst for many organizations, when comes sustainbility & corporate responsiblty, normal rules of busines apply. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3>Sustainability</h3>
                            <div class="hover-title">
                                <h4><a href="services-single-1.html">Sustainability</a></h4>
                                <a class="arrow-box" href="services-single-1.html"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <div class="icon-tag"><span class="icon flaticon-trophy-1"></span></div>
                            <img src="images/resource/services-3.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="text">Priority interst for many organizations, when comes sustainbility & corporate responsiblty, normal rules of busines apply. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3>Performance</h3>
                            <div class="hover-title">
                                <h4><a href="services-single-1.html">Performance</a></h4>
                                <a class="arrow-box" href="services-single-1.html"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <div class="icon-tag"><span class="icon flaticon-like"></span></div>
                            <img src="images/resource/services-4.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="text">Priority interst for many organizations, when comes sustainbility & corporate responsiblty, normal rules of busines apply. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3>Organization</h3>
                            <div class="hover-title">
                                <h4><a href="services-single-1.html">Organization</a></h4>
                                <a class="arrow-box" href="services-single-1.html"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <div class="icon-tag"><span class="icon flaticon-support"></span></div>
                            <img src="images/resource/services-5.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="text">Priority interst for many organizations, when comes sustainbility & corporate responsiblty, normal rules of busines apply. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3>Customer Insights</h3>
                            <div class="hover-title">
                                <h4><a href="services-single-1.html">Customer Insights</a></h4>
                                <a class="arrow-box" href="services-single-1.html"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <div class="icon-tag"><span class="icon flaticon-search"></span></div>
                            <img src="images/resource/services-6.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="text">Priority interst for many organizations, when comes sustainbility & corporate responsiblty, normal rules of busines apply. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3>Advanced Analytics</h3>
                            <div class="hover-title">
                                <h4><a href="services-single-1.html">Advanced Analytics</a></h4>
                                <a class="arrow-box" href="services-single-1.html"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Services Section-->
