 <!--Content Side-->
<div class="content-side">
    <!--Services Single Two-->
    <div class="service-single-two">
        <div class="inner-box">
            <h2>Tax & Legal</h2>
            <div class="two-column">
                <div class="row clearfix">
                    <div class="content col-md-6 col-sm-6 col-xs-12">
                        <div class="bold-text">Stratégie</div>
                        <div class="text">
                             <p><i class="fa fa-chevron-circle-right" ></i>&nbsp; Diagnostic et audit fiscaux</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Optimisation et montages fiscaux</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Accompagnement des investissements</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Accompagnement lors des contrôles fiscaux</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Ingénierie juridique</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Conseil juridique</p><p><i class="fa fa-chevron-circle-right" ></i>&nbsp;Assistance au règlement des litiges</p>
                        </div>
                    </div>
                    <div class="content col-md-6 col-sm-6 col-xs-12">
                        <div class="image">
                            <%= image_tag "tax.jpg" %>
                        </div>
                    </div>
                </div>
            </div>
           
           
        </div>
    </div>
</div>
